<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
 
 
  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->

</head>

<body id="page1">
<div class="body1">
<div class="body2">
		<div class="main">
			<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">eTeam</a><span id="slogan">Payment Gateway</span></h1>
					<nav>
						<ul id="top_nav">
							<li><a href="index.html"><img src="images/img1.gif" alt=""></a></li>
							<li><a href="contact.html"><img src="images/img2.gif" alt=""></a></li>
							<li class="bg_none"><a href="about.html"><img src="images/img3.gif" alt=""></a></li>
						</ul>
					</nav>
				</div>
				
			</header>
			<!--header end-->
			<!--content -->
			<section id="content">
				<article class="col1 pad_left1">
					<h2>Chính sách bảo mật </h2>
					<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauri asefgllus porta. Cum sociis natoque penatibus edfit magnis dis parturient montes, nascetur ridiculus musulla dusce feugiat males.</p>
					<div class="wrapper">
						<figure class="left marg_right1"><img src="images/secure.jpg" alt=""></figure>
						<p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonmy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis part urient natque penatibus montes.</p>
					</div>
					<ul class="list1 pad_bot1">
						<li><a href="#">At vero eos et accusamus et iusto odio dignissimos ducimus</a></li>
						<li><a href="#">Qui blanditiis praesentium voluptatum deleniti atque corrupti quos</a></li>
						<li><a href="#">Dolores et quas molestias excepturi sint occaecati cupiditate non provident</a></li>
						<li><a href="#">Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum</a></li>
					</ul>
					
        		</article>
			</section>
		</div>
</div>
</div>
<div class="body3">
<div class="body4">
		<div class="main">
			<section id="content2">
				<article class="col3 pad_left1">
					<h3>An toàn</h3>
					<figure class="pad_bot1"><img src="images/page1_img3.jpg" alt=""></figure>
					<p class="pad_bot2">
							Praesent vestibulum molestie lacenean nonummy hendrerit mauri asefporaum sociis penatibus natoque.</p>
					
        		</article>
				<article class="col3 pad_left2">
					<h3>Dễ dàng </h3>
					<figure class="pad_bot1"><img src="images/page1_img4.jpg" alt=""></figure>
					<p class="pad_bot2">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					
        		</article>
				<article class="col3 pad_left2">
					<h3>Tuận tiện</h3>
					<figure class="pad_bot1"><img src="images/page1_img5.jpg" alt=""></figure>
					<p class="pad_bot2">
							Nemo enim ipsam voluptatem voluptas sit aspernatur aut odit aut fugit, sedquia penatibus magnis.</p>
					
        		</article>
			</section>
		</div>
</div>
</div>
		<div class="main">
			<!--content end-->
			<!--footer -->
			<footer>
				<a href="http://www.eteamvn.com/" target="_blank">eTeamvn payment</a> designed by <a href="http://loc8meng2.info" target="_blank">Loc8meng2</a> &copy 2010 <br>
			</footer>
			<!--footer end-->
		</div>
</body>
</html>